@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DCDCDC;
}

.pokemon-card {
  display: -ms-grid;
  display: grid;
  width: 450px;
  min-width: 450px;
  height: 672px;
  border-radius: 15px;
  border: 15px solid #e7c30d;
  overflow: hidden;
  font-family: arial, sans-serif;
  -webkit-box-shadow: 20px 12px 20px 0px black;
          box-shadow: 20px 12px 20px 0px black;
  position: relative;
}

.pokemon-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./background.jpg");
  background-size: cover;
  z-index: -1;
  -webkit-filter: hue-rotate(140deg);
          filter: hue-rotate(140deg);
}

.title-row {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "rarity rarity rarity" "name health type";
  -ms-grid-columns: auto 75px 25px;
      grid-template-columns: auto 75px 25px;
  -ms-grid-rows: 15px 25px;
      grid-template-rows: 15px 25px;
  margin: 5px 20px 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.title-row .rarity {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: rarity;
  font-weight: bold;
  font-size: 12px;
}

.title-row .name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: name;
}

.title-row .health {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: health;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  color: red;
}

.title-row .type {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: type;
  width: 100%;
}

.character-img {
  margin: 0 20px;
  height: 270px;
  border: 5px solid yellow;
  overflow: hidden;
}

.character-img img {
  height: 100%;
}

.character-meta {
  background-color: yellow;
  height: 25px;
  margin: 0 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.character-meta p {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

.character-ability {
  height: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px auto 65px;
      grid-template-columns: 65px auto 65px;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 10px;
  border-bottom: 2px solid black;
}

.character-ability .ability-cost img {
  width: 30px;
}

.character-ability .ability-description {
  text-align: center;
}

.character-ability .ability-description .ability-name {
  font-weight: bold;
  height: 16px;
  float: left;
}

.character-ability .ability-description p {
  text-align: left;
}

.character-ability .ability-description p:before {
  content: '\00a0';
}

.character-ability .ability-description p img {
  height: 18px;
  vertical-align: middle;
}

.character-ability .ability-damage {
  font-weight: bold;
  font-size: 30px;
}

.character-stats {
  height: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.character-stats .character-stat {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: 20px 25px;
      grid-template-rows: 20px 25px;
}

.character-stats .character-stat p {
  font-size: 12px;
  font-weight: bold;
}

.character-description {
  height: 40px;
  margin: 0 20px;
  border: 2px solid yellow;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.character-description p {
  font-style: italic;
  font-size: 12px;
  padding: 0 10px;
  font-weight: bold;
}

.card-details {
  height: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95px auto 45px;
      grid-template-columns: 95px auto 45px;
  font-size: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}

.card-details .artist {
  font-weight: bold;
}

.card-details .company {
  text-align: center;
}

.card-details .collector-card-number {
  font-weight: bold;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-details .collector-card-number:after {
  content: "⬤";
  font-size: 9px;
  line-height: 9px;
  padding: 0 5px;
}

.element-icon {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */